<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <!--
	<filter>
		<filter-name>CompressingFilter</filter-name>
		<filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
		<init-param>
			<param-name>includeContentTypes</param-name>
			<param-value>text/html,text/xml,text/css,text/javascript</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CompressingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
    <jsp-config>
        <taglib>
            <taglib-uri>/browserTag</taglib-uri>
            <taglib-location>/WEB-INF/tld/browser.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/browser</taglib-uri>
            <taglib-location>/WEB-INF/tld/browser.tld</taglib-location>
        </taglib>
    </jsp-config>
    <servlet>
        <servlet-name>InitServer</servlet-name>
        <servlet-class>weaver.general.InitServer</servlet-class>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>ecology</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>allowScriptTagRemoting</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- if you need web service support ,uncomment the following -->
    <!--
    <servlet>
       <servlet-name>AxisServlet</servlet-name>
       <servlet-class>
           org.apache.axis.transport.http.AxisServlet
       </servlet-class>
       <init-param>
         <param-name>consumer</param-name>
         <param-value>*</param-value>
       </init-param>
     </servlet>
     -->
    <servlet>
        <servlet-name>XFireServlet</servlet-name>
        <display-name>XFire Servlet</display-name>
        <servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitPageXmlServlet</servlet-name>
        <servlet-class>weaver.common.util.taglib.SplitPageXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SplitPageXmlServletNew</servlet-name>
        <servlet-class>weaver.common.util.taglib.SplitPageXmlServletNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>weaver.file.FileDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDeptLayoutServlet</servlet-name>
        <servlet-class>weaver.org.layout.DownloadDeptLayoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadWFLayoutServlet</servlet-name>
        <servlet-class>weaver.workflow.layout.DownloadWFLayoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDepLayoutToPicServlet</servlet-name>
        <servlet-class>weaver.org.layout.ShowDepLayoutToPicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDocsImageServlet</servlet-name>
        <servlet-class>weaver.docs.docs.ShowDocsImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImgServlet</servlet-name>
        <servlet-class>weaver.album.ShowImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>weaver.homepage.HomepageCreateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <!-- if you need web service support ,uncomment the following -->
    <!--
     <servlet-mapping>
       <servlet-name>AxisServlet</servlet-name>
       <url-pattern>/ws/WSServlet</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
       <servlet-name>AxisServlet</servlet-name>
       <url-pattern>*.jws</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
       <servlet-name>AxisServlet</servlet-name>
       <url-pattern>/ws/*</url-pattern>
     </servlet-mapping>     
    -->
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SplitPageXmlServlet</servlet-name>
        <url-pattern>/weaver/weaver.common.util.taglib.SplitPageXmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SplitPageXmlServletNew</servlet-name>
        <url-pattern>/weaver/weaver.common.util.taglib.SplitPageXmlServletNew</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewsTemplateDownloadServlet</servlet-name>
        <servlet-class>weaver.page.maint.template.news.NewsTemplateDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsTemplateDownloadServlet</servlet-name>
        <url-pattern>/weaver/weaver.page.maint.template.news.NewsTemplateDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/weaver/weaver.file.FileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDeptLayoutServlet</servlet-name>
        <url-pattern>/weaver/weaver.org.layout.DownloadDeptLayoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadWFLayoutServlet</servlet-name>
        <url-pattern>/weaver/weaver.workflow.layout.DownloadWFLayoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDepLayoutToPicServlet</servlet-name>
        <url-pattern>/weaver/weaver.org.layout.ShowDepLayoutToPicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDocsImageServlet</servlet-name>
        <url-pattern>/weaver/weaver.docs.docs.ShowDocsImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImgServlet</servlet-name>
        <url-pattern>/weaver/weaver.album.ShowImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/weaver/weaver.homepage.HomepageCreateImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkflowXmlParser</servlet-name>
        <servlet-class>weaver.workflow.layout.WorkflowXmlParser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowXmlParser</servlet-name>
        <url-pattern>/weaver/weaver.workflow.layout.WorkflowXmlParser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkflowDesignOperatoinServlet</servlet-name>
        <servlet-class>weaver.workflow.layout.WorkflowDesignOperatoinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowDesignOperatoinServlet</servlet-name>
        <url-pattern>/weaver/weaver.workflow.layout.WorkflowDesignOperatoinServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowWorkFlow</servlet-name>
        <servlet-class>weaver.workflow.workflow.ShowWorkFlow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowWorkFlow</servlet-name>
        <url-pattern>/weaver/weaver.workflow.workflow.ShowWorkFlow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcelOut</servlet-name>
        <servlet-class>weaver.file.ExcelOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcelOut</servlet-name>
        <url-pattern>/weaver/weaver.file.ExcelOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeValidateCode</servlet-name>
        <servlet-class>weaver.file.MakeValidateCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeValidateCode</servlet-name>
        <url-pattern>/weaver/weaver.file.MakeValidateCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateExcelServer</servlet-name>
        <servlet-class>weaver.common.util.taglib.CreateExcelServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateExcelServer</servlet-name>
        <url-pattern>/weaver/weaver.common.util.taglib.CreateExcelServer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignatureDownLoad</servlet-name>
        <servlet-class>weaver.file.SignatureDownLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignatureDownLoad</servlet-name>
        <url-pattern>/weaver/weaver.file.SignatureDownLoad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImgFileDownload</servlet-name>
        <servlet-class>weaver.file.ImgFileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImgFileDownload</servlet-name>
        <url-pattern>/weaver/weaver.file.ImgFileDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateQRCodeServlet</servlet-name>
        <servlet-class>weaver.workflow.exceldesign.CreateQRCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateQRCodeServlet</servlet-name>
        <url-pattern>/createQRCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateWfBarCodeServlet</servlet-name>
        <servlet-class>weaver.workflow.exceldesign.CreateBarCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateWfBarCodeServlet</servlet-name>
        <url-pattern>/createWfBarCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReplyFileDownload</servlet-name>
        <servlet-class>weaver.docs.docs.reply.FileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyFileDownload</servlet-name>
        <url-pattern>/weaver/weaver.docs.docs.reply.FileDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateBarCode</servlet-name>
        <servlet-class>weaver.cpt.barcode.BarCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBarCode</servlet-name>
        <url-pattern>/CreateBarCode</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>RsaInfo</servlet-name>
        <servlet-class>weaver.rsa.GetRsaInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RsaInfo</servlet-name>
        <url-pattern>/rsa/weaver.rsa.GetRsaInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateBarCodeServlet</servlet-name>
        <servlet-class>weaver.workflow.exceldesign.CreateBarCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBarCodeServlet</servlet-name>
        <url-pattern>/createBarCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyLoginServlet</servlet-name>
        <servlet-class>weaver.login.VerifyLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyLoginServlet</servlet-name>
        <url-pattern>/weaver/weaver.login.VerifyLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowColServlet</servlet-name>
        <servlet-class>weaver.common.util.taglib.ShowColServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowColServlet</servlet-name>
        <url-pattern>/weaver/weaver.common.util.taglib.ShowColServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InterfaceServlet</servlet-name>
        <servlet-class>weaver.admincenter.servlet.InterfaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InterfaceServlet</servlet-name>
        <url-pattern>/weaver/weaver.admincenter.servlet.InterfaceServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>weaver.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<filter> 
 <filter-name>Mobile</filter-name> 
   <filter-class>weaver.mobile.plugin.ecology.MobileFilter</filter-class> 
</filter>
<filter-mapping>        
      <filter-name>Mobile</filter-name>        
	  <url-pattern>/mobilemode/*</url-pattern> 
</filter-mapping> 
<filter-mapping> 
   <filter-name>Mobile</filter-name> 
   <url-pattern>/mobile/plugin/*</url-pattern> 
</filter-mapping>
    <filter>
        <filter-name>Compress</filter-name>
        <filter-class>weaver.filter.WGzipFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/wui/theme/ecology8/page/login.jsp;/login/login.jsp;/keygenerator/KeyGenerator.jsp;/keygenerator/getNoCheckFiles.jsp;/keygenerator/packNoCheckFiles.jsp;/workflow/request/WorkflowPDFStream.jsp;/mobile/plugin/Download.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>/weaver/weaver.common.util.taglib.SplitPageXmlServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>/weaver/weaver.common.util.taglib.SplitPageXmlServletNew</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>/Messager/MessagerServlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>IECompatibleFilter</filter-name>
        <filter-class>weaver.filter.IECompatibleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IECompatibleFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IECompatibleFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IECompatibleFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IECompatibleFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AppUseInfo</filter-name>
        <filter-class>weaver.filter.AppUseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AppUseInfo</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ConnFastFilter</filter-name>
        <filter-class>weaver.filter.ConnFastFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConnFastFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConnFastFilter</filter-name>
        <url-pattern>/weaver/weaver.common.util.taglib.SplitPageXmlServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConnFastFilter</filter-name>
        <url-pattern>/weaver/weaver.common.util.taglib.SplitPageXmlServletNew</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CheckFilter</filter-name>
        <filter-class>weaver.wechat.filter.CheckFilter</filter-class>
        <init-param>
            <param-name>token</param-name>
            <param-value>test</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CheckFilter</filter-name>
        <url-pattern>/wechatAPI/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>WStatic</filter-name>
        <filter-class>weaver.filter.WStaticFilter</filter-class>
        <init-param>
            <max-age>86400</max-age>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WStatic</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WStatic</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WStatic</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WStatic</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WStatic</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>resin-ln</filter-name>
        <filter-class>ln.LNFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>resin-ln</filter-name>
        <url-pattern>*.*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CloudOaFilter</filter-name>
        <filter-class>weaver.filter.CloudOaFilter</filter-class>
        <init-param>
            <param-name>excludedPages</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CloudOaFilter</filter-name>
        <url-pattern>/login/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CloudOaFilter</filter-name>
        <url-pattern>/rdeploy/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>WorkflowPicShowFilter</filter-name>
        <filter-class>weaver.filter.WorkflowPicShowFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WorkflowPicShowFilter</filter-name>
        <url-pattern>/workflow/request/WorkflowRequestPictureInner.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WorkflowPicShowFilter</filter-name>
        <url-pattern>/workflow/request/WorkflowDirection.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FixIPFilter</filter-name>
        <filter-class>weaver.filter.FixIPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FixIPFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>XssFilter</filter-name>
        <filter-class>weaver.filter.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/weaver/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/log/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/sqllog/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>DialogHandleFilter</filter-name>
        <filter-class>weaver.filter.DialogHandleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DialogHandleFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ECompatibleFilter</filter-name>
        <filter-class>weaver.filter.ECompatibleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ECompatibleFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ECompatibleFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ECompatibleFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ECompatibleFilter</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ECompatibleFilter</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    
<!-- crivia mvc begin  -->
<servlet>
	<servlet-name>CriviaMVC</servlet-name>
	<servlet-class>crivia.mvc.RequestSender</servlet-class>
	<init-param>
		<param-name>requestEncoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>responseEncoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>EcologyVersion</param-name>
		<param-value>8</param-value>
	</init-param>
</servlet> 

<servlet-mapping>
	<servlet-name>CriviaMVC</servlet-name>
	<url-pattern>/*.c</url-pattern>
</servlet-mapping>
<!-- crivia mvc end  -->

</web-app>
